@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.navbar-name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: white;
}

.navbar-brand {
    margin-right: 50px !important;
    margin-left: 30px !important;
}

.navbar-custome {
    background-color: #221f1f;
    padding: 0 !important;
    z-index: 5;
    top: 0;
    position: sticky !important;

    /*SMALL HEADER*/
    height: 80px;

}

.search-input {
    overflow: visible;
    border: none !important;
    border-radius: 4px;
    height: 3.5vh;
    width: 35vw;
    background-color: white;
    padding-left: 30px;
}

.button-search {
    border: none !important;
    border-radius: 4px;
    background-color: white;
    height: 3.5vh;
    width: 2.5vw;
}

.button-search-icon {
    width: 20px !important;
    height: 20px !important;
}

.navbar-icons {
    color: white;
    font-size: 2em;
}

.navbar-custome-count {
    color: white !important;
    font-size: 2em;
}

.navbar-button-menu {
    background-color: white !important;
}

/* ----- CATEGORIES -------- */
.categories-custome {
    height: 600px;
    top: 120px;
    position: sticky !important;
}

.list-group-item {
    border: none !important;
    color: black;
    font-weight: 600;
    text-decoration: none !important;
}

/*        */

.pagination-numbers {
    display: inherit !important;
}

/* ---- CART ---- */


.cart-card {
    border: none !important;
}

.cart-icons {
    color: #FF5252;
}

.cart-title-p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: black;
}

.cart-title-product {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    color: black;
}

.button-go-to-shop {
    background-color: #CBCBCB !important;
    border-color: #CBCBCB !important;
}

.button-cart-empty {
    color: #fff;
    background-color: #FF602E !important;
    border-color: #FF602E !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em !important;
    width: 50% !important;
}

/* ---- CHECKOUT ---- */
.card-checkout {
    border-radius: 0.50rem !important;
}

.additional-information {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #B8B8B8;
    border-radius: 0.50rem !important;
}

.checkout-font-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: black;
}

.checkout-font {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: black;
}

.total-amount-custome {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #4F4F4F;
}

.button-checkout-submit {
    color: #fff;
    background-color: #FF602E !important;
    border-color: #FF602E !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em !important;
}

/* ---- LOGIN ---- */
.login-col-custome {
    background-color: white;
    margin-top: 3%;
    border-radius: 10px;
    padding-left: 2.5% !important;
    padding-right: 2.5% !important;
    padding-top: 1%;
}

.login-button {
    color: #fff;
    background-color: #FF602E !important;
    border-color: #FF602E !important;
    border-radius: 10px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em !important;
}

.login-button-google {
    color: black !important;
    background-color: white !important;
    border-color: #272727 !important;
    border-radius: 10px !important;
    border: 2px solid #272727 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1em !important;
}

.login-google {
    margin-right: 2% !important;
}

.login-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3em;
    color: black;
}

.login-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    color: black;
}

.login-input {
    border: 2px solid #272727 !important;
}

.login-or {
    font-size: 1em;
    text-align: center;
    margin-bottom: 2%;
    color: #757575;
    margin-top: 2%;
}



