@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="submit"]:focus,
.btn:focus,
.btn-block:focus,
textarea:focus,
.uneditable-input:focus, .form-control:focus, .btn:focus, .btn-primary:focus {
    border-color: rgba(255, 96, 46, 0.8) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125) inset, 0 0 8px rgba(255, 96, 46, 0.6) !important;
    outline: 0 none !important;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.card-father {
    background-color: white;
    border-radius: 15px !important;
    padding: 15px !important;
}

.no-gutters {
    flex-direction: column !important;
    align-content: center;
    flex-wrap: nowrap !important;
    flex: 0 0 auto;
    margin: auto;
    align-items: center;

}

.card-content-text {
    padding: 0 !important;
}

.categories-col {
    padding: 15px;
    border: none !important;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    text-decoration: none !important;
}

.list-group-item {
    border: none !important;
    background-color: white;
    color: black;
    font-weight: 600;
    text-decoration: none !important;
}

.card-img {
    margin: auto;
}

.card-title {
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.card-body {
    text-align: center;
    white-space: nowrap;
    padding: 0 !important;
}

.card-shop {
    overflow: hidden !important;
    border-radius: 10px !important;
    padding: 10px !important;
    box-shadow: #00000057 0px 3px 4px 0px;
    background-color: #F4F4F9 !important;
    flex-direction: column !important;
}

/* ---- CART ---- */
.cart-title-count {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em !important;
    text-align: left;
    font-weight: 600;
}

.cart-total-col {
    position: sticky !important;
    top: 210px;
    height: 20%;
}

.cart-price-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.empty-cart {
    /*align-self: flex-start;*/
}

.cart-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(79, 79, 79, .1);
}

.cart-right-col {
    top: 12.5% !important;
}

.cart-right-col-ghost {
    font-family: 'Poppins', sans-serif;
    color: #4F4F4F;
    font-size: 1.1em !important;
    font-weight: 100 !important;
}

.cart-right-col-normal {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.1em !important;
    font-weight: 550 !important;
}

.cart-total-amount {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em !important;
    font-weight: 500;
    text-align: left;
}

.cart-col {
    display: flex;
    flex-direction: column;
    padding: 20px !important;
}

.cart-total {
    padding: 20px !important;
}

.delete-icon {
    margin: 0 !important;
}

.cart-inf {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.checkout-total {
    padding: 25px;
    border-radius: 0.5rem !important;
    position: sticky !important;
    top: 90px;
}

.cart-count-shop {
    align-items: center;
}

.navbar-name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: white;
}

.navbar-nav-custome {
    align-items: center;
}

.navbar-brand {
    margin-right: 50px !important;
    margin-left: 30px !important;
}

.navbar-custome {
    background-color: #221f1f;
    padding: 0 !important;
    z-index: 5;
    top: 0;
    position: sticky !important;

    /*SMALL HEADER*/
    height: 80px;

}

.search-input {
    overflow: visible;
    border: none !important;
    border-radius: 4px;
    height: 3.5vh;
    width: 35vw;
    background-color: white;
    padding-left: 30px;
}

.button-search {
    border: none !important;
    border-radius: 4px;
    background-color: white;
    height: 3.5vh;
    width: 2.5vw;
}

.button-search-icon {
    width: 20px !important;
    height: 20px !important;
}

.navbar-icons {
    color: white;
    font-size: 2em;
}

.navbar-custome-count {
    color: white !important;
    font-size: 1.5em;
}

.navbar-button-menu {
    background-color: white !important;
}

.card-link {
    text-decoration: none !important;
    color: black !important;
}

/* ----- CATEGORIES -------- */
.categories-custome {
    height: 600px;
    top: 110px;
    position: sticky !important;
}

.categories-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-weight: 600;
}

.categories-li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: black;
    text-align: left;
    font-weight: 500;
    text-decoration: none !important;
}


.pagination-numbers {
    display: inherit !important;
}

/* ---- CART ---- */


.cart-card {
    border: none !important;
}

.cart-product-price {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: black;
}


.cart-icons {
    color: #FF5252;
}

.cart-one-product {
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0, 0, 0, .125);*/
    border-radius: 0.5rem;
    padding: 25px;
}

.cart-title-p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: black;
}

.cart-title-product {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: black;
}

.button-go-to-shop {
    background-color: #CBCBCB !important;
    border-color: #CBCBCB !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em !important;
}

.button-cart-empty {
    color: #fff;
    background-color: #FF602E !important;
    border-color: #FF602E !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em !important;
    width: 50% !important;
    align-self: center;
}


/* ---- CHECKOUT ---- */
.card-checkout {
    border-radius: 0.50rem !important;
    padding: 30px !important;
}

.additional-information {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #B8B8B8;
    border-radius: 0.50rem !important;
}

.checkout-font-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: black;
    text-align: left;
}

.checkout-font {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: black;
    text-align: left;
}

.total-amount-custome {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #4F4F4F;
}

.button-checkout-submit {
    color: #fff;
    background-color: #FF602E !important;
    border-color: #FF602E !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em !important;
}

/* ---- LOGIN ---- */
.login-col-custome {
    background-color: white;
    margin-top: 3%;
    border-radius: 10px;
    padding-left: 2.5% !important;
    padding-right: 2.5% !important;
    padding-top: 1%;
}

.login-col {
    justify-content: center;
}

.google-icon {
    margin-right: 5px;
}

.login-button {
    color: #fff;
    background-color: #FF602E !important;
    border-color: #FF602E !important;
    border-radius: 10px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em !important;
}

.login-button-google {
    color: black !important;
    background-color: white !important;
    border-color: #272727 !important;
    border-radius: 10px !important;
    border: 2px solid #272727 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1em !important;
}

.login-google {
    margin-right: 2% !important;
}

.login-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3em;
    color: black;
}

.login-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    color: black;
}

.login-input {
    border: 2px solid #272727 !important;
}

.login-or {
    font-size: 1em;
    text-align: center;
    margin-bottom: 2%;
    color: #757575;
    margin-top: 2%;
}

/* ---- REGISTER ---- */
.register-button {
    color: #fff;
    background-color: #FF602E !important;
    border-color: #FF602E !important;
    border-radius: 10px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em !important;
    margin-bottom: 2%;
}

.register-col {
    display: flex;
    justify-content: center;
}

.register-link {
    margin-bottom: 10px !important;
}

.register-sec {
    font-size: 1em;
}

/* ---- PERSONAL CABINET ---- */
.personal-cabinet-user {
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 0.5rem !important;
}

.personal-cabinet-user-container {
    margin-bottom: 50%;
}

.personal-cabinet-user-small {
    position: relative;
    margin-right: 20px;
    height: 100%;
}

.personal-cabinet-user-small::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: black;
    height: 170%;
    margin-left: 10px;
    margin-right: 10px;
    top: -11px;
}

.personal-cabinet-user-small-email {
    position: relative;
    margin-right: 20px;
    height: 100%;
}

.personal-cabinet-user-small-email::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: black;
    height: 170%;
    margin-left: 62px;
    margin-right: 10px;
    top: -11px;
}

.personal-cabinet-user-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em !important;
    text-align: center;
}

.personal-cabinet-user-detail {
    margin-left: 25%;
}

.personal-cabinet-orders-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em !important;
    text-align: left;
}

.personal-cabinet-user-info {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em !important;
    text-align: left;
    overflow: hidden;

    border: 2px solid #272727;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.personal-cabinet-user-detail {

}

.personal-cabinet-orders {
    flex-direction: column;
    background-color: #F4F4F9;
    padding: 25px;
    border-radius: 0.5rem !important;
}

.personal-cabinet-exit {
    color: #FF5252;
    font-size: 1.3em;
}

.personal-cabinet-exit-link {
    font-family: 'Poppins', sans-serif;
    color: #FF5252;
    font-size: 1.3em !important;
    text-decoration: none;
    margin-left: 1.5%;
}

/* ---- VIEW PRODUCT ---- */
.view-product-title-container {
    background-color: white;
    border-radius: 10px !important;
    padding: 4%;
    margin-bottom: 3%;
}

.view-product-title {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.8em !important;
    margin-bottom: 1.5%;
}

.view-product-title-price {
    font-family: 'Poppins', sans-serif;
    color: #F84147;
    font-size: 1.8em !important;
    margin-bottom: 0;
}

.view-product-image {
    background-color: white;
    border-radius: 10px !important;
}

.view-product-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.view-product-button-buy-now {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em !important;
    margin-right: 5%;
    color: #fff !important;
    background: linear-gradient(94.94deg, #FF4040 2.13%, #FFCA41 100%) !important;
    border-radius: 10px !important;
    text-decoration: none !important;
    padding: 1.5%;
    width: 50%;
    text-align: center;
}

.view-product-button-add-to-cart {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em !important;
    color: black;
    background-color: white !important;
    border-radius: 10px !important;
    text-decoration: none !important;
    padding: 1.5%;
    width: 50%;
    text-align: center;
}

.view-product-button-add-to-cart:hover {
    color: black;
}
/* --- About this item --- */
.view-product-about-this-item-container{
    background-color: white !important;
    border-radius: 10px !important;
    padding: 4%;
}

.view-product-about-this-item-container-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em !important;
}



